{% extends 'base.html' %}
{% block title %}
    Configuration
{% endblock %}

{% block content %}

{% if show_alert %}
<script>
  window.onload = function() {
    alert("JSON saved.");
  };
</script>
{% endif %}

{% if model_uploaded %}
<script>
  window.onload = function() {
    alert("Model Uploaded.");
  };
</script>
{% endif %}

    <style>
        .sub-entry {
            width: 49%;
            float: left;
            margin-left: 1%;
        }
        
        .whole-entry {
            width: 98%;
            float: left;
            margin-left: 1%;
        }

        .button {
            text-align: center;
            padding-top: 20px;
            clear: both;
        }

        p {
            font-size: xx-large;
        }

    </style>

    <form class="form-validation" method="post" id="config_form" action="/save" enctype="application/json">
        <div class="sub-entry">
            <p>Basic Configuration</p>
            <div class="form-row">
                <label for="acm">
                    <span>Auto-Capture Mode:</span>
                    <select id="acmsel" name="acmode" >
                        <option value="Overlap" {% if form_data.get('acmode') == 'Overlap' %}selected{% endif %}>Overlap</option>
                        <option value="PWM" {% if form_data.get('acmode') == 'PWM' %}selected{% endif %}>PWM</option>
                        <option value="Periodic" {% if form_data.get('acmode') == 'Periodic' %}selected{% endif %}>Periodic</option>
                    </select>
                </label>
            </div>
            <div class="form-row">
                <label for="along-track_overlap" title="Sideways Overlap (%))">
                    <span>Along-Track Overlap</span>
                    <input name="along-track_overlap" type="number" required value="{{ form_data.get('along-track_overlap', '') }}">
                </label>
            </div>
            <div class="form-row">
                <label for="target_altitude" title="(meters)">
                    <span>Target Altitude</span>
                    <input name="target_altitude" type="number" required value="{{ form_data.get('target_altitude', '') }}">
                </label>
            </div>
            <div class="form-row">
                <label for="target_altitude_tolerance" title="Amount of leeway provided for images to trigger (meters).">
                    <span>Target Altitude Tolerance</span>
                    <input name="target_altitude_tolerance" type="number" required value="{{ form_data.get('target_altitude_tolerance', '') }}">
                </label>
            </div>
            <div class="form-row">
                <label for="mename">
                    <span>Manual Exposure</span>
                    <select id="mesel" name="mename">
                        <option value="Enabled" {% if form_data.get('mename') == 'Enabled' %}selected{% endif %}>Enabled</option>
                        <option value="Disabled" {% if form_data.get('mename') == 'Disabled' %}selected{% endif %}>Disabled</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="sub-entry">
            <p>Advanced Configuration</p>
            <div class="main-content">
                <div class="form-row">
                    <label for="rffsel" title="Choose output format for RAW files.">
                        <span>RAW File Format</span>
                        <select id="rffsel" name="rffname">
                            <option value="JPEG" {% if form_data.get('rffname') == 'JPEG' %}selected{% endif %}>JPEG</option>
                            <option value="TIFF" {% if form_data.get('rffname') == 'TIFF' %}selected{% endif %}>TIFF</option>
                        </select>
                    </label>
                </div>
                <label>
                    <center><span>SD Output Files</span></center>
                </label>
                <div class="form-row">
                    <label for="cam1">
                        <span>Camera 1</span>
                        <select id="cam1" name="c1out">
                            <option value="JPEG" {% if form_data.get('c1out') == 'JPEG' %}selected{% endif %}>JPEG</option>
                            <option value="TIFF" {% if form_data.get('c1out') == 'TIFF' %}selected{% endif %}>TIFF</option>
                        </select>
                    </label>
                </div>
                <div class="form-row">
                    <label for="cam2">
                        <span>Camera 2</span>
                        <select id="cam2" name="c2out">
                            <option value="JPEG" {% if form_data.get('c2out') == 'JPEG' %}selected{% endif %}>JPEG</option>
                            <option value="TIFF" {% if form_data.get('c2out') == 'TIFF' %}selected{% endif %}>TIFF</option>
                        </select>
                    </label>
                </div>
                <div class="form-row">
                    <label for="mcconfig" title="Select which cameras to be enabled.">
                        <span>Multi-Camera Configuration</span>
                        <select id="mcsel" name="mcconfig">
                            <option value="RGB" {% if form_data.get('mcconfig') == 'RGB' %}selected{% endif %}>RGB</option>
                            <option value="Thermal" {% if form_data.get('mcconfig') == 'Thermal' %}selected{% endif %}>Thermal</option>
                            <option value="Both" {% if form_data.get('mcconfig') == 'Both' %}selected{% endif %}>Both</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="sub-entry"> 
            <div class="form-row">
                <label for="model_targets" title="Target classes for the machine learning model.">
                    <span>Model Targets</span>
                    <input name="model_targets" type="text" value="{{ form_data.get('model_targets', '') }}">
                </label>
            </div>
        </div>

        <div class="whole-entry">
            <center><button type="submit" value="Submit" class="submit-button"><font size="+2"><b>Save</b></font></button></center>
            <p></p>
        </div>

    </form>
    <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.photo.label }}
        {{ form.photo }}
        <button type="submit">Upload</button>
    </form>

{% endblock %}

