{% extends 'base.html' %}
{% block title %}
    Configuration
{% endblock %}

{% block content %}

    <style>
        .sub-entry {
            width: 49%;
            float: left;
            margin-left: 1%;
        }
        
        .whole-entry {
            width: 98%;
            float: left;
            margin-left: 1%;
        }

        .button {
            text-align: center;
            padding-top: 20px;
            clear: both;
        }
    </style>

    <form class="form-validation" method="post" id="config_form" action="/save" enctype="application/json">
        <div class="sub-entry">
            <center><p>Basic Configuration</p></center>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Auto-Capture Mode</span>
                    <input name="auto-capture_mode" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Along-Track Overlap</span>
                    <input name="along-track_overlap" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Target Altitude</span>
                    <input name="target_altitude" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Target Altitude Tolerance</span>
                    <input name="target_altitude_tolerance" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Manual Exposure</span>
                    <input name="manual_exposure" type="text">
                </label>
            </div>
        </div>
        <div class="sub-entry">
            <center><p>Advanced Configuration</p></center>
            <div class="main-content">
                <div class="form-row form-input-name-row">
                    <label>
                        <span>RAW File Format</span>
                        <input name="raw_file_format" type="text">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>PPS Pin Purpose</span>
                        <input name="pps_pin_purpose" type="text">
                    </label>
                </div>
                <label>
                    <center><span>SD Output Files</span></center>
                </label>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>Camera 1</span>
                        <input name="camera_1" type="text">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>Camera 2</span>
                        <input name="camera_2" type="text">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>Multi-Camera Configuration</span>
                        <input name="multi-camera_configuration" type="text">
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row form-input-name-row">
            <label>
                <center><span>Model Targets</span></center>
                <input name="model_targets" type="text">
            </label>
        </div>

        <div class="whole-entry">
            <center><button type="submit" value="Submit" class="submit-button">Save</button></center>
        </div>

    </form>

    

{% endblock %}

