{% extends 'base.html' %}
{% block title %}
    Configuration
{% endblock %}

{% block content %}

{% if show_alert %}
<script>
  window.onload = function() {
    alert("JSON saved.");
  };
</script>
{% endif %}

    <style>
        .sub-entry {
            width: 49%;
            float: left;
            margin-left: 1%;
        }
        
        .whole-entry {
            width: 98%;
            float: left;
            margin-left: 1%;
        }

        .button {
            text-align: center;
            padding-top: 20px;
            clear: both;
        }

        p {
            font-size: xx-large;
        }

    </style>

    <form class="form-validation" method="post" id="config_form" action="/save" enctype="application/json">
        <div class="sub-entry">
            <center><p>Basic Configuration</p></center>
            <div class="form-row">
                <label for="acm">
                    <span>Auto-Capture Mode:</span>
                    <select id="acmsel" name="acmode">
                        <option value="Overlap">Overlap</option>
                        <option value="Sample">PWM</option>
                    </select>
                </label>
            </div>
            <div class="form-row">
                <label for="along-track_overlap" title="Sideways Overlap Integer Percentage Value">
                    <span>Along-Track Overlap</span>
                    <input name="along-track_overlap" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="target_altitude">
                    <span>Target Altitude</span>
                    <input name="target_altitude" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="target_altitude_tolerance" title="Amount of leeway provided for images to trigger.">
                    <span>Target Altitude Tolerance</span>
                    <input name="target_altitude_tolerance" type="text">
                </label>
            </div>
            <div class="form-row">
                <label for="mename">
                    <span>Manual Exposure</span>
                    <select id="mesel" name="mename">
                        <option value="Enabled">Enabled</option>
                        <option value="Disabled">Disabled</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="sub-entry">
            <center><p>Advanced Configuration</p></center>
            <div class="main-content">
                <div class="form-row">
                    <label for="rffsel" title="Choose output format for RAW files.">
                        <span>RAW File Format</span>
                        <select id="rffsel" name="rffname">
                            <option value="JPEG">JPEG</option>
                            <option value="TIFF">TIFF</option>
                        </select>
                    </label>
                </div>
                <label>
                    <center><span>SD Output Files</span></center>
                </label>
                <div class="form-row">
                    <label for="cam1">
                        <span>Camera 1</span>
                        <select id="cam1" name="c1out">
                            <option value="JPEG">JPEG</option>
                            <option value="TIFF">TIFF</option>
                        </select>
                    </label>
                </div>
                <div class="form-row">
                    <label for="cam2">
                        <span>Camera 2</span>
                        <select id="cam2" name="c2out">
                            <option value="JPEG">JPEG</option>
                            <option value="TIFF">TIFF</option>
                        </select>
                    </label>
                </div>
                <div class="form-row">
                    <label for="mcconfig" title="Select which cameras to be enabled.">
                        <span>Multi-Camera Configuration</span>
                        <select id="mcsel" name="mcconfig">
                            <option value="RGB">RGB</option>
                            <option value="Thermal">Thermal</option>
                            <option value="Both">Both</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="sub-entry"> 
            <div class="form-row">
                <label for="model_targets" title="Target classes for the machine learning model.">
                    <span>Model Targets</span>
                    <input name="model_targets" type="text">
                </label>
            </div>
        </div>

        <div class="whole-entry">
            <center><button type="submit" value="Submit" class="submit-button">Save</button></center>
        </div>

    </form>

    

{% endblock %}

