{% extends 'base.html' %}
{% block title %}
    Camera Settings
{% endblock %}

{% block content %}

{% if show_alert %}
<script>
  window.onload = function() {
    alert("Please Provide a Value for all Fields");
  };
</script>
{% endif %}

    <style>
        .sub-entry {
            width: 49%;
            float: left;
            margin-left: 1%;
        }
        
        .whole-entry {
            width: 98%;
            float: left;
            margin-left: 1%;
        }

        .button {
            text-align: center;
            padding-top: 20px;
            clear: both;
        }

        p {
            font-size: xx-large;
        }
    </style>

    <center><p>Pre-Flight Estimator</p></center>
    <form class="form-validation" method="post" action="/calculate" id="form1">
        <div class="sub-entry">
            <div class="form-row form-input-name-row">
                <label for="alt" title="Altitude Above Ground Level (meters)">
                    <span>Altitude AGL</span>
                    <input name="alt" type="number">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label for="fs" title="(meters per second)">
                    <span>Flight Speed</span>
                    <input name="fs" type="number">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label for="fo" title="(%)">
                    <span>Forward Overlap</span>
                    <input name="fo" type="number">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label for="corientsel">
                    <span>Camera Orientation</span>
                    <select id="corientsel" name="corientname">
                        <option value="Landscape">Landscape</option>
                        <option value="Portrait">Portrait</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="sub-entry">
            <div class="main-content">
                <div class="form-row form-input-name-row">
                    <label for="GSD" title="Ground Sampling Distance (centimeter per pixel))">
                        <span>GSD</span>
                        <input name="gsd" type="number">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label for="area" title="(acres)">
                        <span>Area of the Field</span>
                        <input name="area" type="number">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label for="co" title="(%)">
                        <span>Cross Overlap</span>
                        <input name="co" type="number">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label for="iosel" title="Choose output format.">
                        <span>Image Output</span>
                        <select id="iosel" name="ioname">
                            <option value="JPEG">JPEG</option>
                            <option value="TIFF">TIFF</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </form>

    <div class="whole-entry">
    <center><button type="submit" form="form1" value="Submit">Update Settings</button></center>
    <br>
    <center><p>Estimated Mission Result</p></center>
    </div>

    {% if width %}
    <center>
    <table>
        <tr>
            <td>Footprint Width</td>
            <td>{{ width }}</td>
            <td>Footprint Height</td>
            <td>{{ height }}</td>
        </tr>
        <tr>
            <td>Distance Between Captures</td>
            <td>{{ disBetCap }}</td>
            <td>Distance Between Track</td>
            <td>{{ disBetTrack }}</td>
        </tr>
        <tr>
            <td>Time Between Captures</td>
            <td>{{ tBetCap }}</td>
            <td>Flight Time</td>
            <td>{{ flightTime }}</td>
        </tr>
        <tr>
            <td>Number of Captures</td>
            <td>{{ numCap }}</td>
            <td>Number of Images</td>
            <td>{{ numImg }}</td>
        </tr>
        <tr>
            <td>Area per Hour</td>
            <td>{{ areaPerHour }}</td>
            <td>Storage Space Requirement</td>
            <td>{{ ssr }}</td>
        </tr>
    </table>
    </center>
    {% endif %}

{% endblock %}