{% extends 'base.html' %}
{% block title %}
    Camera Settings
{% endblock %}

{% block content %}

    <style>
        .sub-entry {
            width: 49%;
            float: left;
            margin-left: 1%;
        }
        
        .whole-entry {
            width: 98%;
            float: left;
            margin-left: 1%;
        }

        .button {
            text-align: center;
            padding-top: 20px;
            clear: both;
        }
    </style>

    <center><p>Flight Estimator</p></center>
    <form class="form-validation" method="post" action="settings.py" id="form1">
        <div class="sub-entry">
            <div class="form-row form-input-name-row">
                <label>
                    <span>Altitude AGL</span>
                    <input name="field1" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Flight Speed</span>
                    <input name="field2" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Forward Overlap</span>
                    <input name="field2" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Camera Orientation</span>
                    <input name="field2" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Aircraft Type</span>
                    <input name="field2" type="text">
                </label>
            </div>
        </div>
        <div class="sub-entry">
            <div class="main-content">
                <div class="form-row form-input-name-row">
                    <label>
                        <span>GSD</span>
                        <input name="field3" type="text">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>Area of the Field</span>
                        <input name="field4" type="text">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>Cross Overlap</span>
                        <input name="field2" type="text">
                    </label>
                </div>
                <div class="form-row form-input-name-row">
                    <label>
                        <span>Image Output</span>
                        <input name="field2" type="text">
                    </label>
                </div>
            </div>
        </div>
    </form>

    <div class="whole-entry">
    <center><button type="submit" form="form1" value="Submit">Update Settings</button></center>
    <br>
    <center><p>Estimated Mission Result</p></center>
    </div>

    <div class="sub-entry">
        <div class="form-row form-input-name-row">
            <label>
                <span>Footprint Width</span>
                <input name="field1" type="text">
            </label>
        </div>
        <div class="form-row form-input-name-row">
            <label>
                <span>Distance Between Capture</span>
                <input name="field2" type="text">
            </label>
        </div>
        <div class="form-row form-input-name-row">
            <label>
                <span>Time Between Capture</span>
                <input name="field2" type="text">
            </label>
        </div>
        <div class="form-row form-input-name-row">
            <label>
                <span>Number of Captures</span>
                <input name="field2" type="text">
            </label>
        </div>
        <div class="form-row form-input-name-row">
            <label>
                <span>Area per Hour</span>
                <input name="field2" type="text">
            </label>
        </div>
    </div>
    <div class="sub-entry">
        <div class="main-content">
            <div class="form-row form-input-name-row">
                <label>
                    <span>Footprint Height</span>
                    <input name="field3" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Distance Between Track</span>
                    <input name="field4" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Flight Time</span>
                    <input name="field2" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Number of Images</span>
                    <input name="field2" type="text">
                </label>
            </div>
            <div class="form-row form-input-name-row">
                <label>
                    <span>Storage Space Required</span>
                    <input name="field2" type="text">
                </label>
            </div>
        </div>
    </div>

{% endblock %}