[Unit]
Description=CUSP Main function
Wants=network.target
After=network.target

[Service]
WorkingDirectory=/home/sixth/CUSP/Web_App/
Nice=5
User=sixth
Group=sixth
SuccessExitStatus=0 1 255
KillMode=none

ExecStart=/usr/bin/flask run --host=$(ifconfig eth0 | awk '/inet /{print $2}' | cut -f2 -d':')
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
